/* .progressbar-wrapper {
  background: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 60px;
  height: 60px;
  content: counter(step);
  counter-increment: step;
  line-height: 60px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 3px auto;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.progressbar li:after {
   width: 100%;
   height: 2px;
   content: '';
   position: absolute;
   background-color: #BEBEBE;
   top: 30px;
   left: -50%;
   z-index: 0;
}
.progressbar li:first-child:after {
   content: none;
}
.progressbar li.active {
  color: #000;
  font-weight: bold;
}
.progressbar li.active:before {
  border-color: #000;
}
.progressbar li.active + li:after {
  background-color: #000;
}
.progressbar {
  counter-reset: step;
} */

.c-stepper {
  display: flex;
  flex-wrap: wrap;
}

.c-stepper__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-stepper__item:before {
  --size: 3rem;
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 1rem auto 0;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.titel-txt{
  font-size: 45px;
}

.titel-stepper-variants{
  display: inline-flex;
}

.border-form-input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.titel-txt-content{
  font-size: 18px;
  font-weight: 500;
}

.txt-content{
  font-size: 14px;
  font-weight: 500;
}

hr.line-content{
  padding: 0px; margin: 0px;
}

.warning-form-input{
  color: red;
  font-weight:600;
}

.size-icon-redio{
  width: 16px;
}

.size-redio{
  width: 22px;
  height: 22px;
}

.text-input-tatal-value{  
  text-align: start;
  padding: 0px;
  margin: 0px;
}

.text-input-tatal-form{  
  text-align: end;
  padding: 0px;
  margin: 0px;
  text-align: -webkit-right;
}

.texxx, .input55 {
  position: relative;
  display: block;
  padding-right: 35px;
  padding-left: 5px;
  width: 174px;
  box-sizing: border-box;
}

.texxx::after {
  content: attr(data-domain);
  position: absolute;
  top: 8px;
  right: 0px;
  font-size: 14px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.error-txt{
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.btn{
  border-radius: 25px;
}